extends layout.pug

block title
    | About | Conor Nickerson

block css
    link(rel='stylesheet', type='text/css', href='/css/about.css')

block content
    .container
        .about
            h1!= __('about.title')

            != __('about.content')

            a.button(href='/connect') #{__('about.button')}
