extends layout.pug

block title
    | #{__('connect.title')} | Conor Nickerson

block css
    link(rel='stylesheet', type='text/css', href='/css/connect.css')

block content
    .container.fade
        .connect
            h1
                a(href='/connect') #{__('connect.title')}
            ul.social
                li
                    a.fa.fa-facebook(href='http://facebook.com/conornickerson', target='_blank')
                li
                    a.fa.fa-twitter(href='https://twitter.com/conornickerson', target='_blank')
                li
                    a.fa.fa-linkedin(href='https://www.linkedin.com/in/conornickerson', target='_blank')
                li
                    a.fa.fa-envelope(href='mailto:cnickerson97@gmail.com')

block js
    script(type='text/javascript').
        var iframe_count = 0,
            iframe_desired = 3, // we have three iframes, so wait for each to load
            delay = 0,
            callback = function() {
                if (iframe_count + 1 == iframe_desired) {
                    $('iframe').each(function() {
                        $(this).delay(delay).animate({ opacity: 1 }, 1000);
                        delay += 250;
                    });
                } else {
                    iframe_count++;
                }
            };
        $('iframe').css('opacity', 0).load(callback);

