@import 'main';

.about {
    display: block;
    position: relative;
    margin: 50px auto;
    text-align: center;
    width: 400px;

    h1 {
        margin-bottom: 25px;
    }

    p {
        text-align: justify;
    }

    .button {
        display: inline-block;
        margin-top: 25px;
    }

    @media (max-width: 400px) {
        transform: none;

        margin-top: 25px;
        margin-bottom: 100px;
        padding: 0 10px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
}
