@import 'main';

body main {
  @media (max-width: 700px) {
    padding: 0;
  }
}

.sidebar {
  background: #242424;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  width: 450px;
  vertical-align: top;

  @media (max-width: 500px) {
    width: 100%
  }

  .title {
    margin-top: 50%;
    transform: translateY(-25%);

    h1 {
      color: #FFF;
      letter-spacing: 0;
      font-size: 2.5em;
      padding: 0 10px;
      margin-top: 10px;
      opacity: 0;

      @media (max-width: 700px) {
        font-size: 3em;
      }
    }

    .logo {
      padding: 0px 80px 10px;
      width: 100%;
    }

    .subtext {
      @extend h1;
      color: #FFF !important;
      font-size: 2em !important;
      letter-spacing: 0 !important;
      margin: 0 0 100px !important;
      padding: 0 !important;
      opacity: 0;

      @media (max-width: 500px) {
        font-size: 1.5em !important;
      }
    }

    .languages {
      display: block;
      text-align: center;

      .language {
        transition: opacity 0.5s ease-in-out;
        border-right: 1px solid #fff;
        background-size: cover;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.4em;
        padding: 0 12px;
        text-transform: uppercase;
        opacity: 0;

        &:last-child {
          border: none;
          padding-right: 0;
        }
      }
    }

    @media (max-width: 700px) {
      width: 100%;
    }
  }
}

.image {
  display: inline-block;
  background: url('/images/cover.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  width: calc(100% - 450px);
  vertical-align: top;
}
