@import 'project';

.featured {
  @extend .description;
  margin-bottom: 0;
}

.logos {
  display: block;
  width: 800px;
  text-align: center;
  margin: 0 auto 15px;

  img {
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
    width: 100px;
  }
}