@import 'main';
@import 'https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css';

body main h1 {
  @media (max-width: 800px) {
    font-size: 1.8em;
  }
}

.description {
  text-align: center;
  margin: 0 0 25px;
}

section {
  width: 75%;
  margin: 0 auto;
  text-align: center;

  &:last-child {
    margin-bottom: 25px;
  }

  img {
    display: block;
    margin: 0 auto 2em;
    width: 100%;
    max-width: 1200px;
  }
}