.navbar {
    background-color: #242424;
    display: block;
    overflow: visible;
    position: relative;
    text-align: center;
    width: 100%;

    nav.mobile_nav {
      background: #242424;
      display: none;
      left: 0;
      padding: 6px 0;
      position: absolute;
      transform: translateY(-100%);
      width: 100%;

      ul {
        list-style: none;
        padding-left: 25px;

        li {
          margin-bottom: 4px;
          text-align: left;
        }
      }
    }

    nav.primary_nav {
      ul {
        margin: 0;
        padding: 15px 0;
        text-align: center;

        & > li {
          display: inline-block;
          margin: 0 50px;
        }
      }


    }

    .hamburger {
      display: none;
      font-size: 1.25em;
      padding: 15px 25px 0;
      text-align: right;
      width: 100%;

      span {
        color: #fff;
      }

      @media (max-width: 1200px) {
        display: block;
      }
    }

    .credits {
      color: #aaa;
      display: block;
      font-size: 0.8em;
      margin: 25px 0;

      a {
        color: #ccc;
      }
    }

    a {
      color: #e74c3c;
      text-decoration: none;
    }
  }