extends layout.pug

block css
    link(rel='stylesheet', type='text/css', href='/css/portfolio.collection.css')

block variables
    - var title = __('portfolio.city')
    -
        var images = [
            '/images/portfolio/city/_MG_1294-min.jpg',
            '/images/portfolio/city/_MG_1213-min.jpg',
            '/images/portfolio/city/_MG_1258-min.jpg',
            '/images/portfolio/city/_MG_1303-min.jpg',
            '/images/portfolio/city/_MG_1308-min.jpg',
            '/images/portfolio/city/_MG_1321-min.jpg',
            '/images/portfolio/city/_MG_1333-min.jpg',
            '/images/portfolio/city/_MG_1419 - Copy-min.jpg',
            '/images/portfolio/city/_MG_1562-min.jpg',
            '/images/portfolio/city/_MG_1613-min.jpg',
            '/images/portfolio/city/_MG_1772 (2)-min.jpg',
            '/images/portfolio/city/IMG_0008.jpg',
            '/images/portfolio/city/IMG_0009.jpg',
            '/images/portfolio/city/IMG_0013.jpg',
            '/images/portfolio/city/IMG_0020.jpg',
            '/images/portfolio/city/IMG_0284.jpg',
            '/images/portfolio/city/IMG_0060.jpg',
            '/images/portfolio/city/IMG_0049.jpg',
            '/images/portfolio/city/cp (1).jpg',
            '/images/portfolio/city/cp (2).jpg',
            '/images/portfolio/city/cp (3).jpg'
        ]