extends layout.pug

block css
    link(rel='stylesheet', type='text/css', href='/css/portfolio.collection.css')

block variables
    - var title = __('portfolio.city')
    -
        var images = [
            '/images/portfolio/city/pic (1).jpg',
            '/images/portfolio/city/pic (2).jpg',
            '/images/portfolio/city/pic (3).jpg',
            '/images/portfolio/city/pic (4).jpg',
            '/images/portfolio/city/pic (5).jpg',
            '/images/portfolio/city/pic (6).jpg',
            '/images/portfolio/city/pic (7).jpg',
            '/images/portfolio/city/pic (8).jpg',
            '/images/portfolio/city/pic (9).jpg',
            '/images/portfolio/city/pic (10).jpg',
            '/images/portfolio/city/pic (11).jpg',
            '/images/portfolio/city/pic (12).jpg',
            '/images/portfolio/city/pic (13).jpg',
            '/images/portfolio/city/pic (14).jpg',
            '/images/portfolio/city/pic (15).jpg',
            '/images/portfolio/city/pic (16).jpg',
            '/images/portfolio/city/pic (17).jpg',
            '/images/portfolio/city/pic (18).jpg',
            '/images/portfolio/city/pic (19).jpg',
            '/images/portfolio/city/pic (20).jpg',
            '/images/portfolio/city/pic (21).jpg',
            '/images/portfolio/city/pic (22).jpg'
        ]