extends ../layout.pug

block title
    block variables
    = title
    |  | Conor Nickerson

block content
    block variables
    .container.fade
        h1= title

        section
            .photos
                each image in images
                    a.image-popup-no-margins(href=image)
                        img(src=image)

block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
    script(type='text/javascript').
        $(document).ready(function() {
            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });
        });
