extends layout.pug

block css
    link(rel='stylesheet', type='text/css', href='/css/portfolio.collection.css')

block variables
    - var title = __('portfolio.music')
    -
        var images = [
            '/images/portfolio/music/pic (1).jpg',
            '/images/portfolio/music/pic (2).jpg',
            '/images/portfolio/music/pic (3).jpg',
            '/images/portfolio/music/pic (4).jpg',
            '/images/portfolio/music/pic (5).jpg',
            '/images/portfolio/music/pic (6).jpg',
            '/images/portfolio/music/pic (7).jpg',
            '/images/portfolio/music/pic (8).jpg',
            '/images/portfolio/music/pic (9).jpg',
            '/images/portfolio/music/pic (10).jpg',
            '/images/portfolio/music/pic (11).jpg',
            '/images/portfolio/music/pic (12).jpg',
            '/images/portfolio/music/pic (13).jpg',
            '/images/portfolio/music/pic (14).jpg',
            '/images/portfolio/music/pic (15).jpg',
            '/images/portfolio/music/pic (16).jpg',
            '/images/portfolio/music/pic (17).jpg',
            '/images/portfolio/music/pic (18).jpg',
            '/images/portfolio/music/pic (19).jpg',
            '/images/portfolio/music/pic (20).jpg',
            '/images/portfolio/music/pic (21).jpg',
            '/images/portfolio/music/pic (22).jpg',
            '/images/portfolio/music/pic (23).jpg',
            '/images/portfolio/music/pic (24).jpg',
            '/images/portfolio/music/pic (25).jpg',
            '/images/portfolio/music/pic (26).jpg',
            '/images/portfolio/music/pic (27).jpg',
            '/images/portfolio/music/pic (28).jpg',
            '/images/portfolio/music/pic (29).jpg',
            '/images/portfolio/music/pic (30).jpg',
            '/images/portfolio/music/pic (31).jpg',
            '/images/portfolio/music/pic (32).jpg',
            '/images/portfolio/music/pic (33).jpg',
            '/images/portfolio/music/pic (34).jpg',
            '/images/portfolio/music/pic (35).jpg',
            '/images/portfolio/music/pic (36).jpg'
        ]