extends layout.pug

block css
    link(rel='stylesheet', type='text/css', href='/css/portfolio.collection.css')

block variables
    - var title = __('portfolio.portraits')
    - var description = 'hi'
    -
        var images = [
            '/images/portfolio/people/pic (1).jpg',
            '/images/portfolio/people/pic (2).jpg',
            '/images/portfolio/people/pic (3).jpg',
            '/images/portfolio/people/pic (4).jpg',
            '/images/portfolio/people/pic (5).jpg',
            '/images/portfolio/people/pic (6).jpg',
            '/images/portfolio/people/pic (7).jpg',
            '/images/portfolio/people/pic (8).jpg',
            '/images/portfolio/people/pic (9).jpg',
            '/images/portfolio/people/pic (10).jpg',
            '/images/portfolio/people/pic (11).jpg',
            '/images/portfolio/people/pic (12).jpg',
            '/images/portfolio/people/pic (13).jpg',
            '/images/portfolio/people/pic (14).jpg',
            '/images/portfolio/people/pic (15).jpg',
            '/images/portfolio/people/pic (16).jpg',
            '/images/portfolio/people/pic (17).jpg',
            '/images/portfolio/people/pic (18).jpg',
            '/images/portfolio/people/pic (19).jpg',
            '/images/portfolio/people/pic (20).jpg',
            '/images/portfolio/people/pic (21).jpg',
            '/images/portfolio/people/pic (22).jpg',
            '/images/portfolio/people/pic (23).jpg',
            '/images/portfolio/people/pic (24).jpg',
            '/images/portfolio/people/pic (25).jpg',
            '/images/portfolio/people/pic (26).jpg',
            '/images/portfolio/people/pic (27).jpg',
            '/images/portfolio/people/pic (28).jpg',
            '/images/portfolio/people/pic (29).jpg',
            '/images/portfolio/people/pic (30).jpg',
            '/images/portfolio/people/pic (31).jpg',
            '/images/portfolio/people/pic (32).jpg',
            '/images/portfolio/people/pic (33).jpg'
        ]
