extends layout.pug

block css
    link(rel='stylesheet', type='text/css', href='/css/portfolio.collection.css')

block variables
    - var title = __('portfolio.portraits')
    - var description = 'hi'
    -
        var images = [
            '/images/portfolio/people/_MG_2214-min.jpg',
            '/images/portfolio/people/_MG_2148-min.jpg',
            '/images/portfolio/people/_MG_2145-min.jpg',
            '/images/portfolio/people/_MG_2200-min.jpg',
            '/images/portfolio/people/_MG_2058-min.jpg',
            '/images/portfolio/people/_MG_2045-min.jpg',
            '/images/portfolio/people/_MG_2035-min.jpg',
            '/images/portfolio/people/_MG_2020-min.jpg',
            '/images/portfolio/people/_MG_1999-min.jpg',
            '/images/portfolio/people/_MG_1963-min.jpg',
            '/images/portfolio/people/_MG_1956-min.jpg',
            '/images/portfolio/people/_MG_1948-min.jpg',
            '/images/portfolio/people/_MG_1857-min.jpg',
            '/images/portfolio/people/_MG_1841-2-min.jpg',
            '/images/portfolio/people/_MG_1812-min.jpg',
            '/images/portfolio/people/_MG_1717-min.jpg',
            '/images/portfolio/people/_MG_1693-min.jpg',
            '/images/portfolio/people/_MG_1680-min.jpg',
            '/images/portfolio/people/_MG_1646-min.jpg',
            '/images/portfolio/people/ag.jpg',
            '/images/portfolio/people/min.jpg',
            '/images/portfolio/people/tob.jpg',
            '/images/portfolio/people/an.jpg'
        ]
