extends layout.pug

block css
    link(rel='stylesheet', type='text/css', href='/css/portfolio.collection.css')

block variables
    - var title = __('portfolio.rural')
    -
        var images = [
            '/images/portfolio/rural/_MG_0203.jpg',
            '/images/portfolio/rural/_MG_0205.jpg',
            '/images/portfolio/rural/_MG_0211.jpg',
            '/images/portfolio/rural/IMG_0032.jpg',
            '/images/portfolio/rural/Window.jpg',
            '/images/portfolio/rural/rp (1).jpg',
            '/images/portfolio/rural/rp (2).jpg',
            '/images/portfolio/rural/rp (3).jpg',
            '/images/portfolio/rural/rp (4).jpg',
            '/images/portfolio/rural/rp (5).jpg',
            '/images/portfolio/rural/rp (6).jpg',
            '/images/portfolio/rural/rp (8).jpg',
            '/images/portfolio/rural/rp (9).jpg',
            '/images/portfolio/rural/rp (10).jpg',
            '/images/portfolio/rural/rp (11).jpg',
            '/images/portfolio/rural/rp (12).jpg',
            '/images/portfolio/rural/rp (13).jpg',
            '/images/portfolio/rural/rp (14).jpg'
        ]
