extends layout.pug

block css
    link(rel='stylesheet', type='text/css', href='/css/portfolio.collection.css')

block variables
    - var title = __('portfolio.work')
    -
        var images = [
            '/images/portfolio/music/ndg3 (1).jpg',
            '/images/portfolio/music/ndg3 (2).jpg',
            '/images/portfolio/music/ndg3 (3).jpg',
            '/images/portfolio/music/ndg3 (4).jpg',
            '/images/portfolio/music/ndg3 (5).jpg',
            '/images/portfolio/music/ndg3 (6).jpg',
            '/images/portfolio/music/ndg3 (7).jpg',
            '/images/portfolio/music/cm (1).jpg',
            '/images/portfolio/music/cm (2).jpg',
            '/images/portfolio/music/cm (3).jpg',
            '/images/portfolio/music/cm (4).jpg',
            '/images/portfolio/music/cm (5).jpg',
            '/images/portfolio/music/cm (6).jpg',
            '/images/portfolio/music/cm (7).jpg',
            '/images/portfolio/music/ep (1).jpg',
            '/images/portfolio/music/ep (2).jpg',
            '/images/portfolio/music/ep (3).jpg',
            '/images/portfolio/music/ep (4).jpg',
            '/images/portfolio/music/pp (1).jpg',
            '/images/portfolio/music/pp (2).jpg',
            '/images/portfolio/music/pp (3).jpg',
            '/images/portfolio/music/gsc (1).jpg',
            '/images/portfolio/music/gsc (2).jpg',
            '/images/portfolio/music/_MG_0018-min.jpg'
        ]